HORSE RACING PREDICTION PROJECT

In [2]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
rrh = pd.read_csv(r'C:\Users\ayish\GuviProjects\Horse race Prediction\race-result-horse.csv')
rrr = pd.read_csv(r'C:\Users\ayish\GuviProjects\Horse race Prediction\race-result-race.csv')

In [3]:
print(rrh.shape)
print(rrr.shape)

(30189, 19)
(2367, 12)

In [4]:
rrh.head()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,running_position_1,running_position_2,running_position_3,running_position_4,finish_time,win_odds,running_position_5,running_position_6,race_id
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,1.0,2.0,2.0,1.0,1.22.33,3.8,NaN,NaN,2014-001
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,8.0,9.0,9.0,2.0,1.22.65,8,NaN,NaN,2014-001
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,2.0,1.0,1.0,3.0,1.22.66,5.7,NaN,NaN,2014-001
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,6.0,4.0,5.0,4.0,1.22.66,6.1,NaN,NaN,2014-001
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,9.0,10.0,10.0,5.0,1.23.02,6.1,NaN,NaN,2014-001

In [5]:
rrr.head()

,src,race_date,race_course,race_number,race_id,race_class,race_distance,track_condition,race_name,track,sectional_time,incident_report
0,20140914-1.html,2014-09-14,Sha Tin,1,2014-001,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...
1,20140914-10.html,2014-09-14,Sha Tin,10,2014-010,Class 2,1400,GOOD TO FIRM,COTTON TREE HANDICAP,"TURF - ""A"" COURSE",13.55 22.25 22.89 22.85,\n SMART MAN was slow to begin....
2,20140914-2.html,2014-09-14,Sha Tin,2,2014-002,Class 5,1200,GOOD TO FIRM,TIM MEI HANDICAP,"TURF - ""A"" COURSE",24.06 22.25 23.66,\n ALLEY-OOP and FLYING KEEPER ...
3,20140914-3.html,2014-09-14,Sha Tin,3,2014-003,Class 1,1200,GOOD TO FIRM,THE HKSAR CHIEF EXECUTIVE'S CUP (HANDICAP),"TURF - ""A"" COURSE",23.42 22.48 22.47,"\n On arrival at the Start, it ..."
4,20140914-4.html,2014-09-14,Sha Tin,4,2014-004,Class 4,1200,GOOD TO FIRM,LUNG WUI HANDICAP,"TURF - ""A"" COURSE",24.00 22.62 22.64,\n Just prior to the start bein...

In [5]:
rrh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30189 entries, 0 to 30188
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   finishing_position     30187 non-null  object
 1   horse_number           29851 non-null  float64
 2   horse_name             30189 non-null  object
 3   horse_id               30189 non-null  object
 4   jockey                 30189 non-null  object
 5   trainer                30189 non-null  object
 6   actual_weight          30189 non-null  object
 7   declared_horse_weight  30189 non-null  object
 8   draw                   30189 non-null  object
 9   length_behind_winner   30189 non-null  object
 10  running_position_1     29574 non-null  float64
 11  running_position_2     29560 non-null  float64
 12  running_position_3     29542 non-null  float64
 13  running_position_4     16618 non-null  float64
 14  finish_time            30189 non-null  object
 15  win_odds               30189 non-null  object
 16  running_position_5     3764 non-null   float64
 17  running_position_6     549 non-null    float64
 18  race_id                30189 non-null  object
dtypes: float64(7), object(12)
memory usage: 4.4+ MB

In [6]:
rrr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2367 entries, 0 to 2366
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   src              2367 non-null   object
 1   race_date        2367 non-null   object
 2   race_course      2367 non-null   object
 3   race_number      2367 non-null   int64
 4   race_id          2367 non-null   object
 5   race_class       2367 non-null   object
 6   race_distance    2367 non-null   int64
 7   track_condition  2367 non-null   object
 8   race_name        2367 non-null   object
 9   track            2367 non-null   object
 10  sectional_time   2367 non-null   object
 11  incident_report  2367 non-null   object
dtypes: int64(2), object(10)
memory usage: 222.0+ KB

Data Cleaning:

In [7]:
rrh['finishing_position'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', 'WV-A', '14', 'WV', '9 DH', '2 DH', 'WX', 'PU', '1 DH',
       '8 DH', 'UR', 'FE', '4 DH', '10 DH', 'TNP', '5 DH', 'DISQ',
       '11 DH', '12 DH', '3 DH', '7 DH', 'WX-A', 'DNF', '6 DH', nan],
      dtype=object)

In [8]:
#Drop rows in column where value is not a number
df_horse= rrh[rrh['finishing_position'].isin([str(i) for i in range(1,15)])].reset_index(drop=True)

In [9]:
df_horse

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,running_position_1,running_position_2,running_position_3,running_position_4,finish_time,win_odds,running_position_5,running_position_6,race_id
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,1.0,2.0,2.0,1.0,1.22.33,3.8,NaN,NaN,2014-001
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,8.0,9.0,9.0,2.0,1.22.65,8,NaN,NaN,2014-001
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,2.0,1.0,1.0,3.0,1.22.66,5.7,NaN,NaN,2014-001
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,6.0,4.0,5.0,4.0,1.22.66,6.1,NaN,NaN,2014-001
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,9.0,10.0,10.0,5.0,1.23.02,6.1,NaN,NaN,2014-001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29359,9,7.0,INTREPIC,A139,M F Poon,D J Hall,116,993,2,6,2.0,4.0,5.0,9.0,1.24.05,4,NaN,NaN,2016-805
29360,10,12.0,HIGH AND MIGHTY,S362,D Whyte,W Y So,119,1132,11,6-3/4,12.0,12.0,11.0,10.0,1.24.18,7.2,NaN,NaN,2016-805
29361,11,3.0,DOUBLE VALENTINE,A163,B Prebble,A S Cruz,127,1085,13,9-1/4,11.0,11.0,12.0,11.0,1.24.58,41,NaN,NaN,2016-805
29362,12,8.0,THE JOY OF GIVING,A249,W M Lai,C W Chang,122,1026,9,13-1/2,13.0,13.0,13.0,12.0,1.25.26,99,NaN,NaN,2016-805
29363,13,5.0,MIGHTY BOY,A352,N Callan,J Moore,126,1153,1,14-1/4,5.0,5.0,4.0,13.0,1.25.35,41,NaN,NaN,2016-805

In [29]:
df_horse.columns

Index(['finishing_position', 'horse_number', 'horse_name', 'horse_id',
       'jockey', 'trainer', 'actual_weight', 'declared_horse_weight', 'draw',
       'length_behind_winner', 'running_position_1', 'running_position_2',
       'running_position_3', 'running_position_4', 'finish_time', 'win_odds',
       'running_position_5', 'running_position_6', 'race_id', 'recent_6_runs',
       'recent_ave_rank', 'race_distance'],
      dtype='object')

In [10]:
horse_id = df_horse['horse_id'].unique()
numhorse = len(horse_id)
horse_index= range(numhorse)

jockey = df_horse['jockey'].unique()
numJockey = len(jockey)
jockey_index = range(numJockey)

trainer = df_horse['trainer'].unique()
numTrainer = len(trainer)
trainer_index = range(numTrainer)

print(' Number of Horses: ', numhorse, '\n','Number of Jockeys: ',numJockey, '\n','Number of Trainers: ',numTrainer)

 Number of Horses:  2155
 Number of Jockeys:  105
 Number of Trainers:  93

In [12]:
len(df_horse['finishing_position'])

29364

Add a column named recent_6_runs to the dataframe, which records the recent ranks of the horse in each entry. 
The ranks are separated by “/”, and a record is like 1/2/6/3/4/7.

Add a column named recent_ave_rank for each entry to the dataframe, 
which records the average rank of the recent 6 runs of a horse

In [23]:
df_horse['recent_6_runs'] = '0'
df_horse['recent_ave_rank'] = '7'

for i in range(len(df_horse['finishing_position'])):
    
   # temp will just give a list of all the finishing positions of that particular horse
    temp = df_horse[ : (i + 1)][df_horse.horse_id == df_horse.horse_id[i]][['finishing_position']] 
    
   # we convert temp into a list, in reverse order, with the last race in front
    temp = temp['finishing_position'].values.tolist()[::-1]
   
   # we then take the first 6 elements of the list, and join them with a '/'
    df_horse['recent_6_runs'][i]='/'.join(temp[:6])

    if len(temp)!=0:
        temp_int=map(int, temp)
        temp_ave= np.mean(list(temp_int))
        df_horse['recent_ave_rank']= temp_ave

In [25]:
df_horse.tail()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,running_position_2,running_position_3,running_position_4,finish_time,win_odds,running_position_5,running_position_6,race_id,recent_6_runs,recent_ave_rank
29359,9,7.0,INTREPIC,A139,M F Poon,D J Hall,116,993,2,6,...,4.0,5.0,9.0,1.24.05,4,NaN,NaN,2016-805,9/1/2/12/13/13,13.0
29360,10,12.0,HIGH AND MIGHTY,S362,D Whyte,W Y So,119,1132,11,6-3/4,...,12.0,11.0,10.0,1.24.18,7.2,NaN,NaN,2016-805,10/5/3/9/8/9,13.0
29361,11,3.0,DOUBLE VALENTINE,A163,B Prebble,A S Cruz,127,1085,13,9-1/4,...,11.0,12.0,11.0,1.24.58,41,NaN,NaN,2016-805,11/8/11,13.0
29362,12,8.0,THE JOY OF GIVING,A249,W M Lai,C W Chang,122,1026,9,13-1/2,...,13.0,13.0,12.0,1.25.26,99,NaN,NaN,2016-805,12/12/10,13.0
29363,13,5.0,MIGHTY BOY,A352,N Callan,J Moore,126,1153,1,14-1/4,...,5.0,4.0,13.0,1.25.35,41,NaN,NaN,2016-805,13,13.0

In [30]:
df_horse['race_distance'] = '0'

for i in range(len(rrr['race_id'])):
    distance = rrr['race_distance'][i]
    df_horse['race_distance'][df_horse.race_id == rrr.race_id[i]] = distance

In [34]:
df_horse['race_distance'].unique()

array([1400, 1200, 1000, 1650, 1600, 1800, 2000, 2200, 2400], dtype=object)

In [36]:
df_horse.head()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,running_position_3,running_position_4,finish_time,win_odds,running_position_5,running_position_6,race_id,recent_6_runs,recent_ave_rank,race_distance
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,...,2.0,1.0,1.22.33,3.8,NaN,NaN,2014-001,1,13.0,1400
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,...,9.0,2.0,1.22.65,8,NaN,NaN,2014-001,2,13.0,1400
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,...,1.0,3.0,1.22.66,5.7,NaN,NaN,2014-001,3,13.0,1400
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,...,5.0,4.0,1.22.66,6.1,NaN,NaN,2014-001,4,13.0,1400
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,...,10.0,5.0,1.23.02,6.1,NaN,NaN,2014-001,5,13.0,1400

In [39]:
df_horse['finishing_position'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14'], dtype=object)

In [40]:
# Add HorseWin, HorseRankTop3, HorseRankTop50Percent for use in Part3

# Sets a boolean mask (either 1 or 0) for each new column
df_horse['HorseWin'] = (df_horse.finishing_position == '1') + 0
df_horse['HorseRankTop3'] = (df_horse.finishing_position == '1') + (df_horse.finishing_position == '2') + (df_horse.finishing_position == '3') + 0

# Create a list of all the top1_indexes where the horse finished in the top
top1_index = df_horse.index[df_horse['finishing_position'] == '1'].tolist()

# Create another column where the horse finished in the top 50%
df_horse['HorseRankTop50Percent'] = '0'

for i in range(len(top1_index)-1):
    df_horse['HorseRankTop50Percent'][top1_index[i]:(top1_index[i] + int(round(0.5 * (top1_index[i + 1] - top1_index[i]))))] = '1'

# Created specifically for the last index because we cannot loop    
df_horse['HorseRankTop50Percent'][top1_index[len(top1_index) - 1]:(top1_index[len(top1_index) - 1] + 6)] = '1'

In [41]:
df_horse.head()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,win_odds,running_position_5,running_position_6,race_id,recent_6_runs,recent_ave_rank,race_distance,HorseWin,HorseRankTop3,HorseRankTop50Percent
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,...,3.8,NaN,NaN,2014-001,1,13.0,1400,1,1,1
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,...,8,NaN,NaN,2014-001,2,13.0,1400,0,1,1
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,...,5.7,NaN,NaN,2014-001,3,13.0,1400,0,1,1
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,...,6.1,NaN,NaN,2014-001,4,13.0,1400,0,0,1
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,...,6.1,NaN,NaN,2014-001,5,13.0,1400,0,0,1

In [42]:
df_horse.to_csv('df_horse.csv', index=False)

DATA PREPARATION

In [3]:
df_horse=pd.read_csv(r'C:\Users\ayish\GuviProjects\Horse race Prediction\Horse-Racing-Prediction\df_horse.csv')

In [4]:
df_horse

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,win_odds,running_position_5,running_position_6,race_id,recent_6_runs,recent_ave_rank,race_distance,HorseWin,HorseRankTop3,HorseRankTop50Percent
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,...,3.8,NaN,NaN,2014-001,1,13.0,1400,1,1,1
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,...,8.0,NaN,NaN,2014-001,2,13.0,1400,0,1,1
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,...,5.7,NaN,NaN,2014-001,3,13.0,1400,0,1,1
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,...,6.1,NaN,NaN,2014-001,4,13.0,1400,0,0,1
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,...,6.1,NaN,NaN,2014-001,5,13.0,1400,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29359,9,7.0,INTREPIC,A139,M F Poon,D J Hall,116,993,2,6,...,4.0,NaN,NaN,2016-805,9/1/2/12/13/13,13.0,1400,0,0,0
29360,10,12.0,HIGH AND MIGHTY,S362,D Whyte,W Y So,119,1132,11,6-3/4,...,7.2,NaN,NaN,2016-805,10/5/3/9/8/9,13.0,1400,0,0,0
29361,11,3.0,DOUBLE VALENTINE,A163,B Prebble,A S Cruz,127,1085,13,9-1/4,...,41.0,NaN,NaN,2016-805,11/8/11,13.0,1400,0,0,0
29362,12,8.0,THE JOY OF GIVING,A249,W M Lai,C W Chang,122,1026,9,13-1/2,...,99.0,NaN,NaN,2016-805,12/12/10,13.0,1400,0,0,0
29363,13,5.0,MIGHTY BOY,A352,N Callan,J Moore,126,1153,1,14-1/4,...,41.0,NaN,NaN,2016-805,13,13.0,1400,0,0,0

In [5]:
df_horse['race_id'].unique()

array(['2014-001', '2014-010', '2014-002', ..., '2016-803', '2016-804',
       '2016-805'], dtype=object)

In [6]:
len(df_horse['race_id'].unique())

2367

In [8]:
df_horse.index[df_horse['race_id'] == '2016-137']

Index([21255, 21256, 21257, 21258, 21259, 21260, 21261, 21262, 21263, 21264,
       21265, 21266],
      dtype='int64')

In [9]:
# Divide data into train set, test set and unseen backtest set.
# Training set contains all the races with race_id no more than “2016-327” (first 80%), 
# Test set contains the rest of races (last 20%)

train_last_index = max(df_horse.index[df_horse['race_id'] == '2016-137'].tolist())
test_last_index = max(df_horse.index[df_horse['race_id'] == '2016-563'].tolist())

print(train_last_index)
print(test_last_index)

df_train = df_horse[:(train_last_index + 1)]
df_test = df_horse[(train_last_index + 1):(test_last_index + 1)]
df_unseen = df_horse[(test_last_index + 1):]

21138
26424

In [11]:
len(df_horse['jockey'].unique())

105

In [36]:
def cal_ave_rank(df):
    df['jockey_ave_rank'] = '7'

    for i in df.jockey:
        
        temp = df[df.jockey ==i][['finishing_position']]
        temp = temp['finishing_position'].values.tolist()
        if len(temp) != 0:
            temp_int = map(int, temp)
            temp_ave = np.mean(list(temp_int))
            df['jockey_ave_rank'][df.jockey == i] = temp_ave


    df['trainer_ave_rank'] = '7'

    for i in df.trainer:
        temp = df[df.trainer ==i][['finishing_position']]
        temp = temp['finishing_position'].values.tolist()
        if len(temp) != 0:
            temp_int = map(int,temp)
            temp_ave = np.mean(list(temp_int))
            df['trainer_ave_rank'][df.trainer ==i] = temp_ave

    return df

In [35]:
len(df_test.jockey)

5286

In [37]:
df_train = cal_ave_rank(df_train)
df_train.to_csv('df_train.csv', index=False)
df_test = cal_ave_rank(df_test)
df_test.to_csv('df_test.csv', index=False)

In [33]:
df_train

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,running_position_6,race_id,recent_6_runs,recent_ave_rank,race_distance,HorseWin,HorseRankTop3,HorseRankTop50Percent,jockey_ave_rank,trainer_ave_rank
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,...,NaN,2014-001,1,13.0,1400,1,1,1,6.058185,7.369681
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,...,NaN,2014-001,2,13.0,1400,0,1,1,5.795734,6.721234
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,...,NaN,2014-001,3,13.0,1400,0,1,1,7.857759,6.850174
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,...,NaN,2014-001,4,13.0,1400,0,0,1,4.173402,6.631579
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,...,NaN,2014-001,5,13.0,1400,0,0,1,5.343498,6.846633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21134,8,3.0,TRAVEL COMFORTS,T209,K Teetan,A T Millard,129,1143,11,3-1/2,...,NaN,2016-137,8/12/9/1/7/1,13.0,1000,0,0,0,6.6489,6.722508
21135,9,12.0,ELITE SPIRIT,S200,C Y Ho,W Y So,118,1163,12,3-3/4,...,NaN,2016-137,9/9/8/10/8/13,13.0,1000,0,0,0,7.384335,7.117705
21136,10,6.0,OCEAN ROAR,N317,H W Lai,A Lee,125,1185,2,4-3/4,...,NaN,2016-137,10/9/12/11/11/7,13.0,1000,0,0,0,7.910085,7.34375
21137,11,9.0,WINFULL PATROL,P063,S de Sousa,R Gibson,122,1199,7,5-1/4,...,NaN,2016-137,11/9/10/4/2/5,13.0,1000,0,0,0,6.228346,6.628536
21138,12,2.0,DIAMOND MASTER,S397,O Bosson,P F Yiu,129,1167,4,7-1/4,...,NaN,2016-137,12/3/3/1/7/9,13.0,1000,0,0,0,7.814286,6.925075

In [38]:
df_test

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,running_position_6,race_id,recent_6_runs,recent_ave_rank,race_distance,HorseWin,HorseRankTop3,HorseRankTop50Percent,jockey_ave_rank,trainer_ave_rank
21139,1,11.0,SUPER FLUKE,T382,J Moreira,D Cruz,118,1118,6,-,...,NaN,2016-138,1/5/3/2/4/5,13.0,1650,1,1,1,4.070707,8.052941
21140,2,10.0,PEARL WARM WARM,T183,S Clipperton,P O'Sullivan,118,1099,12,SH,...,NaN,2016-138,2/3/8/7/1/6,13.0,1650,0,1,1,6.714859,6.858209
21141,3,3.0,BEAUTY PRINCE,T411,Z Purton,J Moore,128,1281,9,N,...,NaN,2016-138,3/8/6/1/9/3,13.0,1650,0,1,1,5.381988,5.958042
21142,4,7.0,VARA PEARL,S138,K Teetan,A T Millard,120,1034,4,1/2,...,NaN,2016-138,4/3/7/8/1/3,13.0,1650,0,0,1,6.523077,6.792208
21143,5,5.0,INDUSTRIALIST WAY,S023,O Bosson,C H Yip,126,1228,11,1/2,...,NaN,2016-138,5/2/7/7/6/1,13.0,1650,0,0,1,7.875,7.281879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26420,8,7.0,GOLDEN CANNON,T022,K K Chiong,K W Lui,119,951,8,2,...,NaN,2016-563,8/3/8/3/8/9,13.0,1000,0,0,0,7.328638,7.307292
26421,9,12.0,NOBLE BUDDIES,T356,K Teetan,A Lee,113,1185,1,2-1/2,...,NaN,2016-563,9/3/10/8/10/7,13.0,1000,0,0,0,6.523077,7.435345
26422,10,11.0,LUCKY FRIENDS,V155,K C Ng,D E Ferraris,108,1094,6,3,...,NaN,2016-563,10/10/8/9/6/14,13.0,1000,0,0,0,9.533333,6.197425
26423,11,1.0,INVISIBLE,T418,C Y Ho,C Fownes,131,1140,10,4,...,NaN,2016-563,11/4/8/8/6/6,13.0,1000,0,0,0,7.9625,6.99
26424,12,4.0,GLORY HORSIE,M273,M Chadwick,D Cruz,131,1283,9,6,...,NaN,2016-563,12/11/7/13/10/11,13.0,1000,0,0,0,7.519608,8.052941

In [40]:
df_unseen['jockey_ave_rank'] = '7'
df_unseen_jockey = df_unseen['jockey'].unique()
for i in range(len(df_unseen_jockey)):
    if df_unseen_jockey[i] in df_train['jockey'].unique():
        df_unseen['jockey_ave_rank'][df_unseen.jockey == df_unseen_jockey[i]]\
            = df_train[df_train.jockey == df_unseen_jockey[i]]['jockey_ave_rank'].tolist()[0]
        
df_unseen['trainer_ave_rank'] = '7'
df_unseen_trainer=df_unseen['trainer'].unique()
for i in range(len(df_unseen_trainer)):
    if df_unseen_trainer[i] in df_train['trainer'].unique():
        df_unseen['trainer_ave_rank'][df_unseen.trainer == df_unseen_trainer[i]]\
            = df_train[df_train.trainer == df_unseen_trainer[i]]['trainer_ave_rank'].tolist()[0]

In [41]:
df_unseen

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,running_position_6,race_id,recent_6_runs,recent_ave_rank,race_distance,HorseWin,HorseRankTop3,HorseRankTop50Percent,jockey_ave_rank,trainer_ave_rank
26425,1,8.0,PRINCE HARMONY,V012,D Whyte,W Y So,119,1142,2,-,...,NaN,2016-564,1/13/9/6/10,13.0,1200,1,1,1,5.795734,7.117705
26426,2,2.0,GRACYDAD,V200,Z Purton,D J Hall,133,1092,7,SH,...,NaN,2016-564,2/1/6/3/3/3,13.0,1200,0,1,1,5.343498,6.639836
26427,3,7.0,SUNNY ORIENT,V302,N Rawiller,A T Millard,125,1071,6,1,...,NaN,2016-564,3/7/14/8/6/14,13.0,1200,0,1,1,6.43617,6.722508
26428,4,3.0,CAREFREE LET GO,T059,H T Mo,C S Shum,116,1063,3,1,...,NaN,2016-564,4/7/6/5/9/3,13.0,1200,0,0,1,8.04,6.631579
26429,5,11.0,KWAICHUNG BROTHERS,A012,C Schofield,R Gibson,115,1139,1,4-1/2,...,NaN,2016-564,5/3/5/8/12/11,13.0,1200,0,0,1,6.621572,6.628536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29359,9,7.0,INTREPIC,A139,M F Poon,D J Hall,116,993,2,6,...,NaN,2016-805,9/1/2/12/13/13,13.0,1400,0,0,0,7,6.639836
29360,10,12.0,HIGH AND MIGHTY,S362,D Whyte,W Y So,119,1132,11,6-3/4,...,NaN,2016-805,10/5/3/9/8/9,13.0,1400,0,0,0,5.795734,7.117705
29361,11,3.0,DOUBLE VALENTINE,A163,B Prebble,A S Cruz,127,1085,13,9-1/4,...,NaN,2016-805,11/8/11,13.0,1400,0,0,0,6.058185,6.56043
29362,12,8.0,THE JOY OF GIVING,A249,W M Lai,C W Chang,122,1026,9,13-1/2,...,NaN,2016-805,12/12/10,13.0,1400,0,0,0,8.935606,7.519645
29363,13,5.0,MIGHTY BOY,A352,N Callan,J Moore,126,1153,1,14-1/4,...,NaN,2016-805,13,13.0,1400,0,0,0,6.430505,6.215223

In [42]:
df_unseen.to_csv('df_unseen.csv', index=False)