HORSE RACING PREDICTION PROJECT

In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
rrh = pd.read_csv(r'C:\Users\ayish\GuviProjects\Horse race Prediction\race-result-horse.csv')
rrr = pd.read_csv(r'C:\Users\ayish\GuviProjects\Horse race Prediction\race-result-race.csv')

In [3]:
print(rrh.shape)
print(rrr.shape)

(30189, 19)
(2367, 12)

In [4]:
rrh.head()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,running_position_1,running_position_2,running_position_3,running_position_4,finish_time,win_odds,running_position_5,running_position_6,race_id
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,1.0,2.0,2.0,1.0,1.22.33,3.8,NaN,NaN,2014-001
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,8.0,9.0,9.0,2.0,1.22.65,8,NaN,NaN,2014-001
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,2.0,1.0,1.0,3.0,1.22.66,5.7,NaN,NaN,2014-001
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,6.0,4.0,5.0,4.0,1.22.66,6.1,NaN,NaN,2014-001
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,9.0,10.0,10.0,5.0,1.23.02,6.1,NaN,NaN,2014-001

In [5]:
rrr.head()

,src,race_date,race_course,race_number,race_id,race_class,race_distance,track_condition,race_name,track,sectional_time,incident_report
0,20140914-1.html,2014-09-14,Sha Tin,1,2014-001,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...
1,20140914-10.html,2014-09-14,Sha Tin,10,2014-010,Class 2,1400,GOOD TO FIRM,COTTON TREE HANDICAP,"TURF - ""A"" COURSE",13.55 22.25 22.89 22.85,\n SMART MAN was slow to begin....
2,20140914-2.html,2014-09-14,Sha Tin,2,2014-002,Class 5,1200,GOOD TO FIRM,TIM MEI HANDICAP,"TURF - ""A"" COURSE",24.06 22.25 23.66,\n ALLEY-OOP and FLYING KEEPER ...
3,20140914-3.html,2014-09-14,Sha Tin,3,2014-003,Class 1,1200,GOOD TO FIRM,THE HKSAR CHIEF EXECUTIVE'S CUP (HANDICAP),"TURF - ""A"" COURSE",23.42 22.48 22.47,"\n On arrival at the Start, it ..."
4,20140914-4.html,2014-09-14,Sha Tin,4,2014-004,Class 4,1200,GOOD TO FIRM,LUNG WUI HANDICAP,"TURF - ""A"" COURSE",24.00 22.62 22.64,\n Just prior to the start bein...

In [6]:
rrh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30189 entries, 0 to 30188
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   finishing_position     30187 non-null  object
 1   horse_number           29851 non-null  float64
 2   horse_name             30189 non-null  object
 3   horse_id               30189 non-null  object
 4   jockey                 30189 non-null  object
 5   trainer                30189 non-null  object
 6   actual_weight          30189 non-null  object
 7   declared_horse_weight  30189 non-null  object
 8   draw                   30189 non-null  object
 9   length_behind_winner   30189 non-null  object
 10  running_position_1     29574 non-null  float64
 11  running_position_2     29560 non-null  float64
 12  running_position_3     29542 non-null  float64
 13  running_position_4     16618 non-null  float64
 14  finish_time            30189 non-null  object
 15  win_odds               30189 non-null  object
 16  running_position_5     3764 non-null   float64
 17  running_position_6     549 non-null    float64
 18  race_id                30189 non-null  object
dtypes: float64(7), object(12)
memory usage: 4.4+ MB

In [7]:
rrr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2367 entries, 0 to 2366
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   src              2367 non-null   object
 1   race_date        2367 non-null   object
 2   race_course      2367 non-null   object
 3   race_number      2367 non-null   int64
 4   race_id          2367 non-null   object
 5   race_class       2367 non-null   object
 6   race_distance    2367 non-null   int64
 7   track_condition  2367 non-null   object
 8   race_name        2367 non-null   object
 9   track            2367 non-null   object
 10  sectional_time   2367 non-null   object
 11  incident_report  2367 non-null   object
dtypes: int64(2), object(10)
memory usage: 222.0+ KB

Data Cleaning:

In [8]:
rrh['finishing_position'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', 'WV-A', '14', 'WV', '9 DH', '2 DH', 'WX', 'PU', '1 DH',
       '8 DH', 'UR', 'FE', '4 DH', '10 DH', 'TNP', '5 DH', 'DISQ',
       '11 DH', '12 DH', '3 DH', '7 DH', 'WX-A', 'DNF', '6 DH', nan],
      dtype=object)

In [9]:
#Drop rows in column where value is not a number
df_horse= rrh[rrh['finishing_position'].isin([str(i) for i in range(1,15)])].reset_index(drop=True)

In [10]:
df_horse

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,running_position_1,running_position_2,running_position_3,running_position_4,finish_time,win_odds,running_position_5,running_position_6,race_id
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,1.0,2.0,2.0,1.0,1.22.33,3.8,NaN,NaN,2014-001
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,8.0,9.0,9.0,2.0,1.22.65,8,NaN,NaN,2014-001
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,2.0,1.0,1.0,3.0,1.22.66,5.7,NaN,NaN,2014-001
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,6.0,4.0,5.0,4.0,1.22.66,6.1,NaN,NaN,2014-001
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,9.0,10.0,10.0,5.0,1.23.02,6.1,NaN,NaN,2014-001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29359,9,7.0,INTREPIC,A139,M F Poon,D J Hall,116,993,2,6,2.0,4.0,5.0,9.0,1.24.05,4,NaN,NaN,2016-805
29360,10,12.0,HIGH AND MIGHTY,S362,D Whyte,W Y So,119,1132,11,6-3/4,12.0,12.0,11.0,10.0,1.24.18,7.2,NaN,NaN,2016-805
29361,11,3.0,DOUBLE VALENTINE,A163,B Prebble,A S Cruz,127,1085,13,9-1/4,11.0,11.0,12.0,11.0,1.24.58,41,NaN,NaN,2016-805
29362,12,8.0,THE JOY OF GIVING,A249,W M Lai,C W Chang,122,1026,9,13-1/2,13.0,13.0,13.0,12.0,1.25.26,99,NaN,NaN,2016-805
29363,13,5.0,MIGHTY BOY,A352,N Callan,J Moore,126,1153,1,14-1/4,5.0,5.0,4.0,13.0,1.25.35,41,NaN,NaN,2016-805

In [11]:
horse_id = df_horse['horse_id'].unique()
numhorse = len(horse_id)
horse_index= range(numhorse)

jockey = df_horse['jockey'].unique()
numJockey = len(jockey)
jockey_index = range(numJockey)

trainer = df_horse['trainer'].unique()
numTrainer = len(trainer)
trainer_index = range(numTrainer)

print(' Number of Horses: ', numhorse, '\n','Number of Jockeys: ',numJockey, '\n','Number of Trainers: ',numTrainer)

 Number of Horses:  2155
 Number of Jockeys:  105
 Number of Trainers:  93